@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

.header {
  text-align: center;
  color: #a892ee;
  text-shadow: 0 0 5px #40005d, 0 0 5px #40005d;
  text-decoration: underline;
  font-size: 80px;
}

.header-p {
  text-align: center;
  color: #a892ee;
  text-shadow: 0 0 5px #40005d, 0 0 5px #40005d;
  font-size: 20px;
  margin-top: -50px;
}
